/resources/dlls
/resources/model
/resources/moonshine_tiny_streaming
/resources/whisper_tiny
/resources/translate_key
/target
Cargo.lock
debug.log
tmp_font.ttf
/tests
/.cargo
/.vscode
/.zed
/inno-setup
/clib